<div class="d-flex flex-row justify-content-center align-items-center m-3 gap-3">
  <i class="fa-solid fa-lock fa-2x bigger-icon"></i>
  <div>
    <h1>This account is private</h1>
    <p>Follow this account to see their photos</p>
  </div>
</div>
