<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
    <%= render "users/user", user: @user %>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6 offset-md-3">
    <%= render "users/profile_nav", user: @user %>
  </div>
</div>

<% alert_rendered = false %>
<% @user.own_photos.each do |photo| %>
  <% if policy(photo).show? %>
    <div class="row mb-4">
      <div class="col-md-6 offset-md-3">
        <%= render "photos/photo", photo: photo %>
      </div>
    </div>
  <% else %>
    <% unless alert_rendered %> <!--make sure private_alert run once-->
      <%= render 'users/private_alert' %>
      <% alert_rendered = true %>
    <% end %>
  <% end %>
<% end %>


<% if current_user == @user || !@user.private? || current_user.leaders.include?(@user) %>
